body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
}
  
textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    padding: 10px;
    width: 100%;
}

textarea:focus {
    border: 5px solid #06aed5;
    outline: none;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
}

.row {
    white-space: pre-wrap;
    border-top: 1px solid white;
}

.hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
    text-align: right;
    padding-right: 10px;
    line-height: 60px;
}

.past {
    background-color: #d3d3d3;
    border-left: 5px solid #a39797;
}

.present {
    background-color: #ff6961;
    border-left: 5px solid #a35551;
}

.future {
    background-color: #77dd77;
    border-left: 5px solid #54a154;
}

.saveBtn {
    border-left: 5px solid #05738b;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06aed5;
    color: white;
    border-top: 1px solid white;
}

.saveBtn i:hover {
    font-size: 20px;
    transition: all 0.3s ease-in-out;
    color: black;
}

.saveBtn i:active {
    color: white;
    transition: all .1s;
}

.container {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: repeat(9, 80px);
    grid-column-gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

.fa-save {
    display: flex;
    justify-content: center;
    line-height: 80px;
    font-size: 200%;
}

#save-and-clear {
    text-align: center;
    margin-bottom: 10px;
}

.allBtn {
    height: 50px;
    border-radius: 15px;
    margin-left: 20px;
}

#saveAll {
    background-color: #77dd77;
}

#saveAll:hover {
    color: white;
    font-weight: 500;
    border: 5px solid #54a154;
}

#clearAll {
    background-color: #ff6961;
}

#clearAll:hover {
    color: white;
    font-weight: 500;
    border: 5px solid #a35551;
}

#saveAll:active,
#clearAll:active {
    color: black;
}
